apiVersion: v2
name: dbp-moodle
description: |
  This is a Helm Chart bundling some of the bitnami resources to deploy Moodle for DBildungsplattform. Extending them with features such as 
  MariaDB and PostgreSQL support, Horizontal Autoscaling capabilities, Redis Session Store, Etherpad-Lite.
  The Chart can be deployed without any modification but it is advised to set own secrets acccording to this readme.
type: application
home: https://dbildungsplattform.github.io/dbp-moodle/
version: 0.0.41
appVersion: "4.5.8"
dependencies:
  - name: moodle
    version: "27.0.3"
    repository: "file://charts/moodle"

  # TODO noch nicht klar wie beim Rechenzentrum hiermit umgegangen werden soll / welche Alternative genutzt wird
  - name: redis
    version: "19.5.3"
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled

  # Replaced by managed postgres
  - name: postgresql
    version: "15.5.38"
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled

  - name: cronjob
    alias: moodlecronjob
    version: 0.1.0
    repository: "file://charts/cronjob"

  - name: cronjob
    alias: backup-cronjob
    version: 0.1.0
    repository: "file://charts/cronjob"
    condition: dbpMoodle.backup.enabled

  # replaced by managed postgres
  - name: postgresql
    version: "15.5.38"
    repository: https://charts.bitnami.com/bitnami
    alias: etherpad-postgresql
    condition: etherpad-postgresql.enabled

  - name: etherpad
    version: 0.1.0
    repository: "file://charts/etherpad"
    alias: etherpadlite
    condition: etherpadlite.enabled

  - name: clamav
    version: 3.5.0
    repository: "https://wiremind.github.io/wiremind-helm-charts"
    alias: clamav
    condition: clamav.enabled

  - name: sql-exporter
    version: 0.6.1
    repository: "https://burningalchemist.github.io/sql_exporter/"
    condition: sql-exporter.enabled
